.cardContainer {
    width: 100%;
    max-width: 260px;
    padding: 2px;
    background: linear-gradient(140deg, var(--darkest-purple), var(--sky-blue));
    border-radius: 20px;
    position: relative;

    img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

.card {
    text-align: center;
    background-color: #181228;
    border-radius: 19px;
}