.sticky-sub-nav {
    position: sticky;
    top: 0.5rem;
    z-index: 20;
    /* Add a subtle shadow for separation if desired */
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}
.sub-nav-background {
    padding: 1px;
    background: linear-gradient(140deg, var(--darkest-purple), var(--sky-blue));
    border-radius: 50px;
    position: relative;
}

.sub-nav-container {
    text-align: center;
    background-color: #181228;
    border-radius: 48px;
    padding: 12px 12px;
}

.sub-nav-container a {
    font-family: 'Sofia Sans', sans-serif;
    color: var(--text-white, #CECECE);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 32px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--darkest-blue);
        background: linear-gradient(130deg, #0A0E27 2.56%, rgba(123, 44, 191, 0.20) 78.99%);
    }
}
