@import "tailwindcss";

:root {
    font-family: "Sofia Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--darkest-blue);
    color: var(--text-white);

    /* Global Colors */
    --text-white: #e6e6e6;
    --light-blue: #82D9F5;
    --sky-blue: #49AFED;
    --site-pink: #E791CE;
    --site-pink-10: #181228;
    --dark-purple: #661B60;
    --darkest-purple: #2f002a;
    --darkest-blue: #010415;

    /* Global Gradients */
    --card-gradient: linear-gradient(140deg, var(--darkest-purple), var(--sky-blue))

}

* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

table {
    border-spacing: 0;
}

/* General styling */

.bg-darkest-blue {
    background-color: var(--darkest-blue);
}

.bg-light-pink {
    background-color: var(--site-pink-10);
}

.text-sky-blue {
    color: var(--sky-blue);
}

.text-white {
    color: var(--text-white);
}

.text-gradient {
    background: -webkit-linear-gradient(0deg,
            #661B60 0%,
            #706298 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
    background: -webkit-linear-gradient(0deg, #661B60 0%, #82D9F5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-background {
    background: var(--card-gradient);
    border-radius: 20px;
    padding: 2px;
}

.button {
    background-color: var(--site-pink-10);
    color: var(--text-white);
    font-family: "Sofia Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    border-radius: 20rem;
    border: 2px solid transparent;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

    &:hover {
        background-color: var(--text-white);
        border: var(--sky-blue) solid 2px;
        color: var(--darkest-blue);
    }
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: var(--text-white);
    font-family: "Sofia Sans Condensed";
    font-size: 8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 7.5rem;

    @media screen and (max-width: 768px) {
        font-size: 6.5rem;
        line-height: 6.5rem;
    }
}

h2 {
    color: var(--Text-White, #CECECE);
    font-family: "Sofia Sans Condensed";
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.625rem;

    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

h3 {
    color: var(--sky-blue);
    font-family: "Sofia Sans Condensed";
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.625rem;

    @media screen and (max-width: 768px) {
        font-size: 1.75rem;
        line-height: 1.75rem;
    }
}

h4 {
    color: var(--text-white);
    font-family: "Sofia Sans";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
}

p {
    color: #FFF;
    font-family: "Sofia Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}

.desktop-only {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    .primary-button {
        color: var(--primary-nebraska-red);
    }
} */
