@import "tailwindcss";

:root {
    font-family: "Sofia Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--darkest-blue);
    color: var(--text-white);

    /* Global Colors */
    --text-white: #e6e6e6;
    --light-blue: #82D9F5;
    --sky-blue: #49AFED;
    --site-pink: #E791CE;
    --dark-purple: #661B60;
    --darkest-purple: #2f002a;
    --darkest-blue: #010415;

    /* Global Gradients */

}

* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

table {
    border-spacing: 0;
}

/* General styling */

.text-gradient {
    background: -webkit-linear-gradient(0deg,
            #661B60 0%,
            #706298 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-family: "Sofia Sans Condensed";
    font-size: 8rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

h2 {
    color: var(--Text-White, #CECECE);
    font-family: "Sofia Sans Condensed";
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.0625rem;
    /* 68.75% */
}

h3 {
    color: var(--sky-blue);
    font-family: "Sofia Sans Condensed";
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.625rem;
}

p {
    color: #FFF;
    font-family: "Sofia Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    .primary-button {
        color: var(--primary-nebraska-red);
    }
} */
