.ticker-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
    transform: rotate(3deg);
}

.ticker-content {
    display: inline-block;
    animation: scroll-left linear infinite;
    animation-duration: 30s;

    &:hover {
        animation-play-state: paused;
    }
}

.ticker-item {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
}

.ticker-item img {
    height: 150px;
    border-radius: 8px;
    vertical-align: middle;
    cursor: pointer;
}

.ticker-content .ticker-item img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@keyframes scroll-left {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);   
    }
}

@media screen and (max-width: 600px) {
    @keyframes scroll-left {
        100% {
            transform: translateX(-250%);
        }
    }
}