.ticker-wrapper {
    overflow: hidden;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
    transform: rotate(3deg);
}

.rfm-marquee-container {
    padding: 1rem 0;
}

.rfm-child img {
    height: 150px;
    border-radius: 8px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rfm-child img:hover {
    transform: scale(1.1) !important;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}