/* Nav styling */

.navbar-bg {
    background: rgba(20, 20, 40, 0.85);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: ease 0.3s, box-shadow 0.3s;
}

nav {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.navbar {
    /* position: fixed; */
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 1.3em 2em;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 35%;
    transform: rotateZ(-15deg);
    width: 120px;
    height: auto;
    font-weight: bold;

    @media screen and (min-width: 768px) {
        left: 40%;
    }
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

/* Desktop nav links */
.nav-links li {
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @media screen and (min-width: 768px) {
        margin-left: 20px;
        display: inline-block;
        padding: 1em 0;
        transition: all 0.3s ease-out;
        border: none;
    }
}

.nav-links a {
    font-family: 'Sofia Sans', sans-serif;
    color: var(--text-white, #CECECE);
    margin-left: 0;
    font-size: 1.8em;
    font-weight: 500;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        margin-left: 1em;
        font-size: 1.2em;
    }

    &:hover {
        color: var(--sky-blue);
    }
}

.socials svg:hover {
    color: var(--sky-blue);
    cursor: pointer;
}

/* Side Menu */
.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: var(--darkest-blue);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 99999;
    padding: 0 40px;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.side-menu.open {
    left: 0;
}

.side-menu-logo {
    transform: rotateZ(-15deg);
    width: 150px;
    display: block;
    margin: 3em 0 2.5em;
}

.side-menu-cta {
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 1.5em;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    right: 1.5em;
    top: 1.6em;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    /* Nav desktop styling */
    nav {
        width: 100%;
    }

    .navbar {
        margin: 0 auto;
        justify-content: space-between;
        width: 100%;
        padding: 1.3em 5em;
    }

    .nav-links {
        display: flex;
        gap: 1.2em;
    }

    .logo {
        position: static;
    }

}

@media screen and (min-width: 768px) and (max-width: 896px) {
    .nav-links li {
        text-align: center;
    }

    .nav-links a {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1132px) {
    /* Tablet padding adjustment */
    .navbar {
        padding: 1.3em 2em;
    }
}