.timeline::before, .timeline-tail::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 0.5px;
    background: var(--text-white, #CECECE);
    opacity: 0.5;
    transform: translateX(-50%);
}

.timeline-tail.tail-top::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 8px;
    width: 8px;
    border-radius: 20px;
    background: var(--text-white);
    transform: translateX(-50%);
}

.timeline-tail.tail-bottom::after {
    content: '';
    position: absolute;
    left: 50%;
    height: 8px;
    width: 8px;
    bottom: 0;
    border-radius: 20px;
    background: var(--text-white);
    transform: translateX(-50%);
}

.timeline-num {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--darkest-blue, #181228);
    background-color: var(--text-white);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    z-index: 2;
}

.timeline-data-mobile {
    background: #181228;
    color: var(--darkest-blue, #181228);
    border-radius: 20px;
    padding: 40px 12px;
}

.timeline-data-mobile .timeline-num {
    color: var(--text-white);
    background-color: #181228;
    position: absolute;
    top: -1.75rem;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-data-mobile:not(:last-child) {
    margin-bottom: 8rem;
}